:root {
    --light: #d8d8e9;
    --dark: #4eabcf;
    --text: #000000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    background-color: var(--light);
}

header {
    font-size: 2rem;
}

button,
input {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    outline: none;
}

button {
    cursor: pointer;
}

.header {
    padding: 2rem 0;
    background-color: var(--dark);
    color: var(--text);
}

.page-name {
    text-align: center;
}

.main {
    padding: 2rem;
}

.form {
    padding: 0.5rem 0 3rem 0;
    text-align: center;
}

.input {
    margin-right: 0.5rem;
    background-color: #ffffff;
    color: var(--text);
    border: 2px solid transparent;
}

.btn {
    background-color: #eeeeee;
    color: var(--text);
}

.search-result {
    display: none;
    max-width: 500px;
    padding: 2rem;
    border-radius: 20px;
    margin: 2rem;
    background-color: var(--dark);
    color: var(--text);
}

.search-result.active {
    display: block;
    margin: auto;
}

.search-result * {
    padding: 0.5rem;
    text-align: center;
}

.search-result h3 {
    border-radius: 3px;
    font-size: 3rem;
}

.search-result p {
    font-size: 1.5rem;
}