:root {
    --light: #c3c9e2;
    --dark: #1b39e2;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.6rem;
    background-color: var(--dark);
}

header {
    font-size: 2rem;
}

button,
input {
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    outline: none;
}

button {
    cursor: pointer;
}

.header {
    padding: 2rem;
    background-color: var(--dark);
    color: var(--light);
}

.page-name {
    text-align: center;
}

.main {
    padding: 2rem;
    margin-top: 2rem;
}

.form {
    padding: 1rem;
    text-align: center;
}

.input {
    margin-right: 0.5rem;
    background-color: #ffffff;
    color: var(--dark);
    border: 2px solid transparent;
}

.btn {
    background-color: var(--dark);
    color: var(--light);
    border: 2px solid transparent;
}

.search-result {
    display: none;
    max-height: 400px;
    padding: 2rem;
    border-radius: 3px;
    margin: 4rem auto;
    background-color: var(--dark);
    color: var(--light);
}

.search-result.active {
    display: block;
}

.search-result * {
    padding: 0.5rem;
    text-align: center;
}

.search-result h3 {
    border-radius: 3px;
    color: var(--light);
    font-size: 4rem;
}

.search-result p {
    font-size: 2rem;
}